.banner{
    padding: 85px 15px;
    background: url(../../../img/clouds.png) 30% 10% no-repeat, url(../../../img/img_city_.png) top left/auto 100%, $light;
    ul li{
        display: inline-block;
        margin-left: 20px;
        text-transform: uppercase;
        a{
        padding-right: 15px;
        color: $p4;
        text-decoration: none;
        font-family: $font-regular;
        font-size: 14px;
    }
    }
}
h2{
    margin-left: 20px;
    font-size: 35px;
    font-weight: bold;
}